@import 'variables','colors', 'fonts'; 



@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space {
    @include flex-center;
    justify-content: space-between;
}
@mixin flex-dir {
    @include flex-center;
    flex-direction: column;
    
}
@mixin flex-card {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin grid{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
    gap:20px;
  }