$fonts: 'Roboto', sans-serif;
$nav-font: Arial, Helvetica, sans-serif; 
$table-font: "Trebuchet MS", Arial, Helvetica, sans-serif;
$radius:5px;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$font-large:3rem;
$border-default: 1px solid grey;
$size-small:8px;
$size-medium:16px;
$size-large:24px;
$size-xl:32px;
$opacity:0.9