.form-select-container{
    position: relative;
}
.form-placeholder-container{
    display: flex;
}
.form-placeholder-container input{
    font-size: 1rem;
    text-transform: capitalize;
}
.dropdown-list-container{
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    top: 70px;
    border-radius: 5px;
    border: 1px solid grey;
    z-index: 10;
    background-color: rgb(239 241 249);
    overflow: hidden;
}
   
.dropdown-select-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: rgb(236 237 245);
    border-bottom: 1px solid #c4bdbd;
    list-style: none;
}

.dropdown-list-container li:last-child{
    border-bottom:none
}
.dropdown-list-container li:hover{
    background-color: rgb(40, 40, 231);
    color:#fff;
}
.dropdown-select-list span{
    font-size: .95rem;
    width:90%;
    text-transform: capitalize;
}