.results-container{
    max-width: 80vw;
    border: 1px solid #fff;
    padding:25px;
}
.results-header{
    padding:10px;
    text-align: center;
}
.buttons-container{
    display: flex;
}
h2,h3{
    padding:5px;
    color:#FFF;
}

@media only screen and (max-width: 570px) {
   .results-container{
    max-width: 100vw;
   }
   .buttons-container{
    flex-direction: column;
   }
      
    }